<!DOCTYPE html>
<html lang="en">

<head>
    <title>Restaurant System!</title>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- Tab Menu -->
<div class="pure-menu pure-menu-horizontal" style="background: silver">
    <span class="pure-menu-heading">Restaurant</span>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="{{ url_for('menu') }}">Menu</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="{{ url_for('my_order') }}">My Order</a></li>
    </ul>
</div>
    
<div class="header">
    <h1>Peter, Alex and Lin's Online Restaurant!</h1>
</div>
<!-- Main Content -->
<div class="content center-content">
    {% block body %}
</div>
{% endblock %}

</body>
</html>
