{% extends 'base.html' %}
{% block body %}
<div style="margin-top: 20px">
    <form method="POST">
        <div>
            <h1>Inventory</h1>
            <div>
                {% if msg %}<span class="message">{{ msg }}</span><br>{% endif %}
                {% for item in inventory %}
                Item: {{item.name}} | Quantity: {{item.quantity}}<br>
                Restock Amount:<input name="{{ inventory.name }}" type="number" value='{{ form[inventory.qty]}}' min='0'><br>
                {% endfor %}
                <input name="submit" value="Restock Supplies" type="submit">
                <input name="submit" value="Back" type="submit">
            </div>
        </div>
    </form>
</div>

{% endblock %}