{% extends 'base.html' %}
{% block body %}
<Form method="POST" class = 'pure-form'>
    <legend class="form-section-heading">Buns</legend>
    {% if errors['min_buns'] %}<font style="color: red;">{{ errors['min_buns'] }}</font><br/>{% endif %}
    {%for bun in menu.buns %}
    <div class='pure-g'>
        {% if bun.component.quantity > 0 %}
            <div class='pure-u-1-3 input-spacing'><label>{{ bun.name }}</label></div> 
            <div class='pure-u-1-3 input-spacing'><label>${{ bun.price }}</label></div>
            <div class='pure-u-1-3 input-spacing'><input name="{{ bun.name }}" type="number" value= '{{ form[bun.name] }}' {% if review %}readonly{% endif %}></div>
        {% endif %}
    </div>
    {% if errors[bun.name] %}<font style="color: red;">{{ errors[bun.name] }}</font><br/>{% endif %}
    {% endfor %}

    <legend class="form-section-heading">Patty</legend>
    {% if errors['min_patties'] %}<font style="color: red;">{{ errors['min_patties'] }}</font><br/>{% endif %}
    {%for patty in menu.patties %}
    <div class='pure-g'>
        {% if patty.component.quantity > 0 %}
        <div class='pure-u-1-3 input-spacing'><label>{{ patty.name }}</label></div>
        <div class='pure-u-1-3 input-spacing'><label>${{ patty.price }}</label></div>
        <div class='pure-u-1-3 input-spacing'><input name="{{ patty.name }}" type="number" value="{{ form[patty.name] }}" {% if review %}readonly{% endif %}></div>
        {% endif %}
    </div>
    {% if errors[patty.name] %}<span style="color: red;">{{ errors[patty.name] }}</span><br>{% endif %}
    {% endfor %}

    <legend class='form-section-heading'>Other Ingredients</legend>
    {%for other in menu.other_ingredients %}
    <div class='pure-g'>
        {% if other.component.quantity > 0 %}
        <div class='pure-u-1-3 input-spacing'><label>{{ other.name }}</label></div>
        <div class='pure-u-1-3 input-spacing'><label>${{ other.price }}</label></div>
        <div class='pure-u-1-3 input-spacing'><input name="{{ other.name }}" type="number" value="{{ form[other.name]}}" {% if review %}readonly{% endif %}></div>
        {% endif %}
    </div>
    {% if errors[other.name] %}<font style="color: red;">{{ errors[other.name] }}</font><br/>{% endif %}
    {% endfor %}
    {% if not review %}
        <input class="pure-button" value='Add to my order' name="submit" type="submit">
    {% else %}
        {% if price %}<span>Total Price: ${{price}}</span><br>{% endif %}
        <input class="pure-button pure-button-primary" value="Confirm" name="submit" type="submit">
        <input class="pure-button " value="Back" name="submit" type="submit">
    {% endif %}
</Form>
{% endblock %}