  {% extends 'base.html' %}
  {% block body %}

  <div class="header">
    <h1>OrderID: {{ order.id }}</h1>
    <h2>Status: {{ order.status }}</h2>
  </div>
  <form method="POST" class="pure-form">
    <h2>Mains</h2>
    {% for main in order.mains %}
    {% set counter = loop.index %}
    <div> 
      <legend class="form-section-heading">{{main.name}} ${{ main.price }}</legend>
      {% if errors[(counter-1)|string+'other'] %}<font style="color:red">{{ errors[(counter-1)|string+'other'] }}</font>{% endif %}
      <div class='pure-g'>
        <div class='pure-u-1-3 input-spacing'>Name</div>
        <div class='pure-u-1-3 input-spacing'>Quantity</div>
        <div class='pure-u-1-3 input-spacing'>Price</div>
      </div>
      {% for name,qty in main.components.items() %}
      {% set field_name = 'main-'+ (counter - 1)|string + '-' +name %}
      <div class='pure-g'>
        <div class="pure-u-1-3 input-spacing">{{ name }}</div>
        <div class="pure-u-1-3 input-spacing">
          {% if not confirmed %}
          <input name = '{{ field_name }}' value='{{ qty }}'> 
          {% else %}
          {{ qty }}
          {% endif %}
        </div>
        <div class="pure-u-1-3">${{ menu.get_item(name).price }}/ea</div>
          {% if errors[field_name] %}<font style="color: red">{{ errors[field_name] }}</font>{% endif %}
      </div>
      {% endfor %}
    </div>
    {% if not confirmed %}<input class='pure-button' type="submit" value='Remove' name='submit' id = '{{ counter-1 }}' onclick="addID{{counter-1}}()">{% endif %}
    
    <script>
      function addID{{counter-1}}() {
        document.getElementById('{{ counter-1 }}').value='Remove-{{ counter-1 }}'
      }
    </script>
  {% endfor %}
  <div style='margin-bottom: 15px'>
    <h2>Sides & Drinks</h2>
      <div class = 'pure-g'>
        <div class = 'pure-u-1-3 input-spacing'>Name</div>
        <div class = 'pure-u-1-3 input-spacing'>Quantity</div>
        <div class = 'pure-u-1-3 input-spacing'>Price</div>
      </div>
      <div class = 'pure-g'>
      {% for name,qty in order.others.items() %}
          <div class="pure-u-1-3 input-spacing">{{ name }}</div>
          <div class="pure-u-1-3 input-spacing">
            {% if not confirmed %}
            <input name = 'other-{{ name }}' value='{{ qty }}' type='number'> 
            {% else %}
            {{ qty }}
            {% endif %}
          </div>
          <div class="pure-u-1-3 input-spacing">${{ menu.get_item(name).price }}/ea</div>
          {% if errors['other-'+name] %}<font style="color:red">{{ errors['other-'+name] }}</font>{% endif %}
      {%endfor%}
      </div>
    </div>
    {% if errors['other'] %}<font style="color:red">{{errors['other']}}</font><br>{% endif %}
    {% if not confirmed %}
    <input class="pure-button pure-button-primary" value="Place order" type="submit" name='submit'>
    <input class="pure-button" value="Update order" type="submit" name='submit'>
    {% endif %} 
  </form>
  <span>Total: {{ order.total_price }}</span>
  {% endblock %}
