{% extends 'base.html' %}
{% block body %}

<div style="margin-top: 20px">
  <form method="POST">
    <div>
      <h1>Order</h1>
      <div>
        <h2>Main</h2>
        <div>
          <label>{printed list of main + price}</label><br/>
        </div>
      
        <input type="submit" name="add_main" value="Add Main">
        <input type="submit" name="remove_main" value="Remove Main"><br/>
      </div>  
      
      <div>
        <h2>Sides</h2>
        <div>
          <label>{printed list of sides + price}</label><br/>
        </div>
      
        <input type="submit" name="add_side" value="Add Side">
        <input type="submit" name="update_side" value="Update Side">
        <input type="submit" name="remove_side" value="Remove Side"><br/>
      </div>  
      
      <div>
        <h2>Drinks</h2>
        <div>
          <label>{printed list of drinks + price}</label><br/>
        </div>
      
        <input type="submit" name="add_drink" value="Add Drink">
        <input type="submit" name="update_drink" value="Update Drink">
        <input type="submit" name="remove_drink" value="Remove Drink"><br/>
      </div>
      <br/>
      Total Price: {total_price}<br/>
      <input type="submit" name="payment" value="Pay by Cash">
      <input type="submit" name="payment" value="Pay by Card">
      <input type="submit" name="cancel" value="Cancel Order"><br/>
  </form>
</div>

{% endblock %}
